[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "OpenCL-Headers"]
	path = OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "OpenCL-ICD-Loader"]
	path = OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader
