name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: npm run lint

      - name: Typecheck files
        run: npm run typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run ts unit tests
        run: npm test -- --maxWorkers=2 --coverage

      - name: Run c++ unit tests
        run: |
          cd tests
          chmod +x build_and_test.sh run_tests.sh
          ./build_and_test.sh
          ./run_tests.sh

  build-ios-from-source:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Cache build & pods
        uses: actions/cache@v3
        with:
          path: |
            example/ios/Pods
            example/ios/build
          key: ${{ runner.os }}-pods-${{ hashFiles('example/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Upgrade CocoaPods to version 1.15.2
        run: |
          gem uninstall cocoapods --ignore-dependencies
          gem install cocoapods -v 1.15.2

      - name: Install cocoapods
        run: |
          npm run example run pods

      - name: Build example for iOS
        run: |
          npm run build:ios

  build-ios-frameworks:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Cache build & pods
        uses: actions/cache@v3
        with:
          path: |
            example/ios/Pods
            example/ios/build
          key: ${{ runner.os }}-pods-${{ hashFiles('example/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Upgrade CocoaPods to version 1.15.2
        run: |
          gem uninstall cocoapods --ignore-dependencies
          gem install cocoapods -v 1.15.2

      - name: Install cocoapods
        run: |
          npm run example run pods
        env:
          RNLLAMA_BUILD_FROM_SOURCE: 0

      - name: Build frameworks
        run: |
          npm run build:ios-frameworks

      - name: Build example for iOS
        run: |
          npm run build:ios

  build-android-from-source:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build example for Android
        run: |
          npm run build:android

  build-android-libs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build libraries
        run: |
          npm run build:android-libs

      - name: Build example for Android
        run: |
          sed -i 's/rnllamaBuildFromSource=true/rnllamaBuildFromSource=false/g' example/android/gradle.properties
          npm run build:android
